---
- name: Setup SSH-Service
  include_role: 
    name: service_ssh
  when: "'ssh' in services"

- name: Setup DHCP-Server
  include_role:
    name: service_dhcp
  when: 
    - "'dhcp' in services"
    - "'all_management' in groups"

- name: Setup DNS-Server
  include_role: 
    name: service_dns
  when: 
    - "'dns' in services"
    - "'all_management' in groups"

- name: Setup Certificate Authority
  include_role: 
    name: setenv_ssl-certificate
  when:
    - ssl_certificate_authority is defined

- name: Setup LDAP-Service
  include_role: 
    name: service_ldap
  when: 
    - "'ldap' in services"
    - "'all_management' in groups"

- name: Setup Avahi-Service
  include_role: 
    name: service_avahi
  when: "'avahi' in services"

- name: Setup Samba-Service
  include_role: 
    name: service_samba
  when: "'samba' in services"

- name: Setup GIT
  include_role: 
    name: service_git
  when: "'git' in software"

- name: Setup Ansible
  include_role: 
    name: service_ansible
  when: "'ansible' in software"

- name: Setup Postgres
  include_role: 
    name: service_db-postgres
  when: "'postgres' in software"

- name: Setup apt-proxy
  include_role: 
    name: service_apt-proxy
  # when: "'apt-proxy' in services"

- name: Setup XRDP-Service
  include_role: 
    name: service_xrdp
  when: "'xrdp' in services"

- name: Setup FoundryVTT
  include_role: 
    name: service_foundryVTT
  when: "'foundryVTT' in software"